
 
/*#a{960*100
    width:125% ;
    height:10.416667% ;
    background-color: indianred;
}

#b{/*200*600
    width:38.4% ;
    height:62.5% ;
    float: left;
    background-color: lightsalmon;
}

#c{/*380*200
    width:49.479167% ;
    height:20.833333% ;
    float: left;
    background-color: lightblue;
}
#d{/*380*200
    width:49.479167% ;
    height:20.833333% ;
    margin: 1.302083 ;
    float: left;
    background-color: lightslategray;
    
}
#e{/*190*250
    width:24.739583% ;
    height:26.041667% ;
    background-color: plum;
    float: left;
}
#f{/*190*250
    width:24.739583% ;
    height:26.041667% ;
    background-color: purple;
    float: left;
}
#g{/*190*250
    width:24.739583% ;
    height:26.041667% ;
    background-color: rosybrown;
    float: left;
}
#h{/*190*250
    width:24.739583% ;
    height:26.041667% ;
    background-color: silver;
    float: left;
}

#i{/*760*150
    width:98.958333% ;
    height:15.625% ;
    background-color: violet;
    float: right;
}*/

